<div class="container">
    <div class="row">
        <div class="column column-20 column-offset-5">
            <div>
            <img src="assets/img/logo-nimble-text.svg" class="logo-footer" alt="Nimble Energy">
            </div>
        </div>
        <div class="column column-15">
            <div>
            <h4>{{footer.followUs}}</h4>
            <a href="">
                <img src="assets/img/ico-linkedin.svg" alt="LinkedIn">
            </a>
            </div>
        </div>
        <div class="column column-25">
            <div>
            <h4>{{footer.contact}}</h4>
            {{{footer.contacts}}}
            </div>
        </div>
        <div class="column">
            <div>
            <h4>&nbsp;</h4>
            <p>{{footer.privacy}}<a href="#" class="privacy-link">{{footer.privacyLink}}</a></p>
            <p>{{footer.copyrigth}}</p>
            </div>
        </div>

    </div>
</div> 